.App {
  display: grid;
  grid-template: / 3fr 1fr;
}

.App-header {
  grid-column-start: span 2
}

.checkout {
  grid-row: auto / span 2;
  background-color: darkgray;
}

.checkout h3 {
  text-align: center;
  margin-bottom: 10%;
  margin-top: 5%;
  text-align: center;
}

.checkout h4 {
  margin: 5%;
  margin-top: 0;
}

.checkout-customer .card, .checkout-customer p {
  max-width: 90%;
  margin-bottom: 10%;
  text-align: center;
}

.checkout-movie .card, .checkout-movie p  {
  max-width: 60%;
  margin-bottom: 10%;
  text-align: center;
}

.checkout-movie, .checkout-customer, .checkout-btn {
  display: flex;
  justify-content: center;
}

.navbar {
  grid-column-start: span 2;
}

.card {
  width: 18rem;
  margin: 1.5%;
  text-align: center;
}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
