.App {
  display: grid;
  grid-template: / 3fr 1fr;
}

.App-header {
  grid-column-start: span 2
}

.checkout {
  grid-row: auto / span 2;
}

.navbar {
  grid-column-start: span 2;
}

.list {
}

.card {
  width: 18rem;
}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
